.ui.inverted.menu {
    background: #039BE5 !important;
    font-size: 10.4pt;
}
body{
    min-width: 480px;
    height: auto !important;
}

.icon.button{
    font-size: 9pt!important;

}

@media screen and (max-width: 882px) {
    .graph-container {
        visibility: hidden;
    }
}

/*.btn-bottom{*/
    /*position: absolute;*/
    /*bottom: 0px;*/
    /*width: 100%;*/
/*}*/

.page {
    margin-left: 120px;
    margin-right: 20px;
    margin-top: 20px;
}

.ui.loader:before, .ui.loader:after {
    width: 25pt !important;
    height: 25pt !important;
}

.has-success .form-control {
    border: 1px solid #ccc !important;
}

.has-success .form-control:focus {
    border-color: #66afe9 !important;
}

.form-control {
    box-shadow: none !important;
}

.required label {
    font-weight: bold;
}
.required label:after {
    color: #e32;
    content: ' *';
    display:inline;
}


.spinner {
    margin-top: 15px !important;
    margin-left: 94px !important;
    border: 0px !important;
    box-shadow: none !important;
    visibility: hidden;
    display: block !important;
}
.spinner .dimmer{
    background-color: transparent !important;
}

.ui.inverted.dimmer .ui.loader:after {
    border-color: #039BE5 transparent transparent !important;
}

.ui.loader:after {
    animation: loader 0.9s linear !important;
    animation-name: loader !important;
    animation-duration: 0.9s !important;
    animation-timing-function: linear !important;
    animation-delay: initial !important;
    animation-iteration-count: infinite !important;
    animation-direction: initial !important;
    animation-fill-mode: initial !important;
    animation-play-state: initial !important;
}